<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluídos en Angular - usualmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      Saludos {{ personas[iPersona].nombre }}, es un placer
      {{ personas[iPersona].genero | i18nSelect : inviteMap }}
      a nuestro evento.
      <br />
      <button (click)="cambiarPersona()">Cambiar Persona</button>
    </p-fieldset>
  </div>
</div>
<div class="grid">
  <div class="col">
    <p-fieldset
      legend="i18nPlural"
      [toggleable]="true"
      [transitionOptions]="'2s'"
    >
      Actualmente tenemos {{ clientes.length }}
      {{ clientes.length | i18nPlural : clientesMap }} esperando
    </p-fieldset>
  </div>
</div>
<div class="grid">
  <div class="col">
    <p-fieldset
      legend="i18nPlural"
      [toggleable]="true"
      [transitionOptions]="'2s'"
    >
      Actualmente
      {{ clientes2.length | i18nPlural : clientes2Map }} esperando
    </p-fieldset>
  </div>
</div>
<div class="grid">
  <div class="col">
    <p-fieldset
      legend="i18nPlural"
      [toggleable]="true"
      [transitionOptions]="'2s'"
    >
      Actualmente {{ clientes3.length | i18nPlural : clientes3Map }}
      esperando
    </p-fieldset>
  </div>
</div>
<div class="grid">
  <div class="col">
    <p-fieldset
      legend="i18nPlural"
      [toggleable]="true"
      [transitionOptions]="'2s'"
    >
      Actualmente tenemos {{ clientes4.length }}
      {{ clientes4.length | i18nPlural : clientes4Map }}
      esperando
    </p-fieldset>
  </div>
</div>
